<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>上传图片</title>
    <script src="../static/js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="../static/js/file.js" type="text/javascript"></script>
</head>
<body>


<div class="upload">
    <form action="upload" id="upload" enctype="multipart/form-data" method="post">
        <input type="file" id="file" name="file"/><br/>
        <input type="button" value="上传" onclick="uploadPic()">
        url
        <div id="showUrl"></div>
        <!--为什么不能显示出本地图片-->
        <input type="image" id="showPic" src="/Users/yahier/Desktop/16184AD9-6EFB-4738-819C-707D57DF5D02.jpeg">
    </form>
</div>


</body>
</html>